<%
@gantt.view = self
subject_width = 330
header_heigth = 18
headers_height = header_heigth
headers_height = 3*header_heigth
zoom = 16
holidays = ["2013-01-01","2013-01-02","2013-03-29","2013-04-01","2013-05-09","2013-05-20","2013-08-01","2013-09-16","2013-12-25"]

g_width = (@gantt.date_to - @gantt.date_from + 1)*zoom
g_height = [(20 * (10 + 6))+150, 206].max
t_height = g_height + headers_height
calculos = {}
pos_background = (16 * (8 - @gantt.date_from.to_date.cwday ))-1

%><h2><%= l(:workload_show_label) %></h2><%=

form_tag({
	:controller => 'work_load',
	:action     => 'show',
	:project_id => @project,
	:month      => params[:month],
	:year       => params[:year],
	:months     => params[:months]
	},
	:method => :get,
	:id     => 'query_form',
	:class  => 'content_form') do

	%><div class="buttons">
		<label><%= l(:workload_show_range) %></label>
		<p class="buttons">
			<%= text_field_tag 'months', @gantt.months, :size => 2 %>
			<%= l(:label_months_from) %>
			<%= select_month(@gantt.month_from, :prefix => "month", :discard_type => true) %>
			<%= select_year(@gantt.year_from, :prefix => "year", :discard_type => true) %>
			<%= hidden_field_tag 'zoom', @gantt.zoom %>
		</p>
	</div>
	<div class="calendar">
		<span>
			<label><%= l(:workload_show_calendar_today) %></label>
			<input type="text" value="<%=@currentDay.to_date.strftime("%d/%m/%Y")%>" autocomplete="off" class="campofecha" id="date1" name="fecha_actual">
			<span class="calendar_icon"><%= l(:workload_show_calendar_calendar) %></span>
		</span>
	</div>

	<div class="multiselect">
		<label><%= l(:workload_show_filter_user) %></label>
		<select name='usuarios_id[]' multiple='true'> <%

			@userIds = @usersToDisplay.collect {|item| item.id}

			User.active.each do |user|
				%><option <%=(@userIds.include?(user.id) ) ? 'selected="selected"' : ''%> value='<%=user.id%>'><%=user.firstname%> <%=user.lastname%></option><%
			end
		%></select>
	</div>
	<div class="issues">
		<span>
			<input type="hidden" name="show_issues" value="0" />
			<input type="checkbox" <%=(Integer(params[:show_issues]) == 1) ? 'checked="checked"' : ''%> id="cb_issues_id" name="show_issues" value="1" />
			<label for="cb_status_id"><%= l(:workload_show_issues) %></label>
		</span>
	</div>
	<%= link_to_function l(:button_apply), 'jQuery("#query_form").submit()', :class => 'icon icon-checked' %>
<%
end
%>

<%= error_messages_for 'query' %>
<%
  timeSpanToDisplay = @gantt.date_from..@gantt.date_to

  monthsToRender = ListUser::getMonthsInTimespan(timeSpanToDisplay)
  workloadData   = ListUser::getHoursPerUserIssueAndDay(@usersToDisplay, timeSpanToDisplay, Date::today)
  ListUser::calculateTotalUserWorkloads(workloadData, timeSpanToDisplay)

%>
<table class="workload-data">
  <thead>
    <tr class="month-names">
      <td class="logo" rowspan="3">&nbsp;<!--Contains logo or empty space --></td>
      <% monthsToRender.each do |someDayOfMonth| %>
        <%= render :partial => 'month_names_header', :locals => {:dayOfMonth => someDayOfMonth} %>
      <% end %>
    </tr>
    <tr class="days-of-month">
      <% monthsToRender.each do |someDayOfMonth| %>
        <%= render :partial => 'day_of_month_header', :locals => {:dayOfMonth => someDayOfMonth} %>
      <% end %>
    </tr>
    <tr class="days-of-week">
      <% monthsToRender.each do |someDayOfMonth| %>
        <%= render :partial => 'day_of_week_header', :locals => {:dayOfMonth => someDayOfMonth} %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% # Iterate over all users:
       workloadData.keys.each do |user| %>
       <%= render :partial => 'workload_for_user', :locals => { :user => user, :data => workloadData[user] } %>
    <% end %>
  </tbody>
</table>


<table width="100%">
	<tr>
		<td align="left">
			<a href='show?<%= params.merge({:year => (@gantt.date_from << @gantt.months).year, :month => (@gantt.date_from << @gantt.months).month, :zoom => zoom, :months => @gantt.months }).to_query%>'><%=l(:label_previous)%></a>
		</td>
		<td align="right"><a href='show?<%= params.merge({:year => (@gantt.date_from >> @gantt.months).year, :month => (@gantt.date_from >> @gantt.months).month, :zoom => zoom, :months => @gantt.months }).to_query%>'><%=l(:label_next)%></a>
		</td>
	</tr>
</table>
<div class="legend">
	<span class="hours_graph" title="leyenda"><%= l(:workload_show_legend) %></span>
	<div class="timing_graph">
		<span class="title"><strong><%= l(:workload_show_legend_title) %>:</strong></span>
		<span class="perfect" title="leyenda"><%= l(:workload_show_legend_perfect) %></span>
		<span class="normal" title="leyenda"><%=  l(:workload_show_legend_normal)  %></span>
		<span class="retard" title="leyenda"><%=  l(:workload_show_legend_retard)  %></span>
		<span class="retard2" title="leyenda"><%= l(:workload_show_legend_retard2) %></span>
		<span class="no_time" title="leyenda"><%= l(:workload_show_legend_no_time) %></span>
		<span class="father" title="leyenda"><%=  l(:workload_show_legend_father)  %></span>
	</div>
	<span class="blue"><%=  l(:workload_show_legend_time_spent) %></span>
	<span class="gray"><%=  l(:workload_show_legend_past)       %></span>
	<span class="black"><%= l(:workload_show_legend_out)        %></span>
</div>
<div style="clear:both;"></div><%

content_for :sidebar do
	render :partial => 'issues/sidebar'
end

html_title('WorkLoad') %>
<%= javascript_include_tag "calendario_dw",   :plugin => "redmine_workload" %>
<%= javascript_include_tag "redmine_plugins", :plugin => "redmine_workload" %>
<script>
	jQuery(document).ready(function($){
		createCss(new Array(<%=@barras_days.join(',')%>));
	});
</script>
